<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Servicios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/modulos.css">
</head>

<body>
    <main>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header bg-white py-3">
                                <h5 class="mb-0 text-teal-dark"><i class="bi bi-tools me-2"></i>Servicio Técnico</h5>
                            </div>
                            <div class="card-body">
                                <!-- Alertas -->
                                {% if request.query_params.get("success") == "1" %}
                                <div class="alert alert-success d-flex align-items-center justify-content-center text-center small fade show position-fixed start-50 translate-middle-x shadow-lg"
                                    role="alert" style="max-width: 400px; z-index: 1050;">
                                    <i class="bi bi-check-circle-fill me-2"></i> ¡Servicio actualizado correctamente!
                                </div>
                                {% elif request.query_params.get("create") == "1" %}
                                <div class="alert alert-success d-flex align-items-center justify-content-center text-center small fade show position-fixed start-50 translate-middle-x shadow-lg"
                                    role="alert" style="max-width: 400px; z-index: 1050;">
                                    <i class="bi bi-check-circle-fill me-2"></i> ¡Servicio creado correctamente!
                                </div>
                                {% elif request.query_params.get("deleted") == "1" %}
                                <div class="alert alert-danger d-flex align-items-center justify-content-center text-center small fade show position-fixed start-50 translate-middle-x shadow-lg"
                                    role="alert" style="max-width: 400px; z-index: 1050;">
                                    <i class="bi bi-trash-fill me-2"></i> ¡Servicio eliminado correctamente!
                                </div>
                                {% endif %}

                                <!-- Búsqueda y filtros -->
                                <div class="row mb-4">
                                    <div class="col-12">
                                        <div class="card shadow-sm">
                                            <div class="card-header">
                                                <h6 class="mb-0"><i class="bi bi-search me-2"></i>Buscar Servicio
                                                    Técnico</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="mb-2 col-md-4">
                                                        <form method="get" action="/servicios">
                                                            <div class="input-group">
                                                                <input name="search" value="{{ search | default('') }}"
                                                                    type="search" class="form-control"
                                                                    placeholder="Buscar por equipo o id">
                                                                <button class="btn btn-outline-enviar" type="submit"><i
                                                                        class="bi bi-search"></i></button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="mb-2 col-md-3 col-lg-3">
                                                        <select class="form-select">
                                                            <option selected>Ordenar por</option>
                                                            <option>Nombre del equipo (A-Z)</option>
                                                            <option>Nombre del equipo (Z-A)</option>
                                                            <option>Estado</option>
                                                            <option>Fecha de recepcion (más reciente)</option>
                                                            <option>Fecha de entrega (más reciente)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1 col-lg-2 col-xl-3"></div>
                                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                                        <button class="btn btn-enviar w-100" data-bs-toggle="modal"
                                                            data-bs-target="#modalRegistro">
                                                            <i class="bi bi-clipboard-plus me-1"></i>Nuevo Servicio
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tabla de Servicios -->
                                <div class="row mb-4">
                                    <div class="col-12">
                                        <div class="card shadow-sm">
                                            <div class="card-header">
                                                <h6 class="mb-0"><i class="bi bi-grid me-2"></i>Lista de Servicios
                                                    Técnicos</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>ID servicio</th>
                                                                <th>Tipo de equipo</th>
                                                                <th>Modelo</th>
                                                                <th>Descripción</th>
                                                                <th>Fecha recepción</th>
                                                                <th>Fecha entrega</th>
                                                                <th>Estado</th>
                                                                <th>Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tabla-servicios">
                                                            {% for s in servicios %}
                                                            <tr>
                                                                <td>{{ s.id_servicio }}</td>
                                                                <td>{{ s.tipo_equipo }}</td>
                                                                <td>{{ s.modelo_equipo }}</td>
                                                                <td>{{ s.descripcion_problema }}</td>
                                                                <td>{{ s.fecha_recepcion }}</td>
                                                                <td>{{ s.fecha_entrega_estimada }}</td>
                                                                <td>{{ s.estado_servicio }}</td>
                                                                <td>
                                                                    <button
                                                                        class="btn btn-sm btn-outline-secondary me-1 edit-button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modalEditar"
                                                                        data-id="{{ s.id_servicio }}"
                                                                        data-tipo="{{ s.tipo_equipo }}"
                                                                        data-modelo="{{ s.modelo_equipo }}"
                                                                        data-descripcion="{{ s.descripcion_problema }}"
                                                                        data-fechaRecepcion="{{ s.fecha_recepcion }}"
                                                                        data-fechaEntrega="{{ s.fecha_entrega_estimada }}"
                                                                        data-estado="{{ s.estado_servicio }}">
                                                                        <i class="bi bi-pencil"></i>
                                                                    </button>
                                                                    <button data-id="{{ s.id_servicio }}"
                                                                        class="btn btn-sm btn-outline-danger"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modalEliminar">
                                                                        <i class="bi bi-trash"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <!-- Paginación -->
                                                <nav aria-label="Paginación de productos">
                                                    <ul class="pagination justify-content-center mt-4">
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" tabindex="-1"
                                                                aria-disabled="true">Anterior</a>
                                                        </li>
                                                        <li class="page-item active"><a class="page-link" href="#">1</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">Siguiente</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal Editar -->
    <div class="modal fade" id="modalEditar" aria-labelledby="modalEditarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarLabel">Actualizar Servicio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="editServicioForm">
                        <input type="hidden" id="serviceId" name="serviceId">
                        <!-- campos a editar -->
                        <div class="mb-3">
                            <label for="tipo_equipo" class="form-label">Tipo de equipos</label>
                            <select class="form-control" id="tipo_equipo" name="tipo_equipo" required
                                pattern="[A-Za-z\s]+" maxlength="50">
                                <option value="Computador de mesa">Computador de mesa</option>
                                <option value="Computador portatil">Computador portatil</option>
                                <option value="Impresora laser">Impresora laser</option>
                                <option value="Impresora de tinta">Impresora de tinta</option>
                                <option value="Impresora termica">Impresora termica</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="modelo_equipo" class="form-label">Modelo del equipo:</label>
                            <input type="text" id="editModeloEquipo" class="form-control" name="modelo_equipo" required
                                maxlength="20">
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción del problema:</label>
                            <input type="text" id="editDescripcion" class="form-control" name="descripcion" required
                                maxlength="100">
                        </div>
                        <div class="mb-3">
                            <label for="fecha_recepcion" class="form-label">Fecha de recepción:</label>
                            <input type="date" id="editFechaRecepcion" class="form-control" name="fecha_recepcion"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="fecha_entrega" class="form-label">Fecha de entrega:</label>
                            <input type="date" id="editFechaEntrega" class="form-control" name="fecha_entrega" required>
                        </div>
                        <div class="mb-3">
                            <label for="editEstado" class="form-label">Estado del Servicio</label>
                            <select class="form-control" id="editEstado" name="estado" required>
                                <option value="En Progreso">En Progreso</option>
                                <option value="Finalizado">Finalizado</option>
                                <option value="Pendiente">Pendiente</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-enviar w-100" id="saveChanges">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar -->
    <div class="modal fade" id="modalEliminar" aria-labelledby="modalEliminarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarLabel">Eliminar Servicio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que desea eliminar este servicio?</p>
                    <input type="hidden" id="serviceIdToDelete" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Registro -->
    <div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="modalRegistroLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRegistroLabel">Registrar Nuevo servicio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="/servicio/crear" method="post">

                        <div class="mb-3 position-relative">
                            <label class="form-label">Cliente</label>
                            <input type="text" id="buscar_cliente" class="form-control" placeholder="Buscar cliente..."
                                autocomplete="off">
                            <select id="cliente_select" class="form-control position-absolute" style="width: 94%;">
                            </select>
                            <input type="hidden" id="cliente_id" name="cliente_id">
                        </div>
                        <div class="mb-3">
                            <label for="tipo_equipo" class="form-label">Tipo de equipos</label>
                            <select class="form-control" id="tipo_equipo" name="tipo_equipo" required
                                pattern="[A-Za-z\s]+" maxlength="50">
                                <option value="Computador de mesa">Computador de mesa</option>
                                <option value="Computador portatil">Computador portatil</option>
                                <option value="Impresora laser">Impresora laser</option>
                                <option value="Impresora de tinta">Impresora de tinta</option>
                                <option value="Impresora termica">Impresora termica</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="modelo_equipo" class="form-label">Modelo del equipo:</label>
                            <input type="text" class="form-control" name="modelo_equipo" required maxlength="20">
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción del problema:</label>
                            <input type="text" class="form-control" name="descripcion" required maxlength="100">
                        </div>
                        <div class="mb-3">
                            <label for="garantia" class="form-label">Meses de Garantia:</label>
                            <input type="number" class="form-control" name="mes_garantia" required>
                        </div>
                        <div class="mb-3">
                            <label for="fecha_recepcion" class="form-label">Fecha de recepción:</label>
                            <input type="date" class="form-control" name="fecha_recepcion" required>
                        </div>
                        <div class="mb-3">
                            <label for="fecha_entrega" class="form-label">Fecha de entrega:</label>
                            <input type="date" class="form-control" name="fecha_entrega" required>
                        </div>
                        <div class="mb-3">
                            <label for="editEstado" class="form-label">Estado del Servicio</label>
                            <select class="form-control" id="editEstado" name="estado" required>
                                <option value="En Progreso">En Progreso</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-enviar w-100">Guardar servicio</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Primero importar el js con las funciones -->
    <script src="/static/js/funciones.js"></script>
    <script src="/static/js/modulo_servicios.js"></script>

</body>

</html>