{% extends "plantilla.html" %}

<!-- etiqueta <head> -->
{% block head_scripts %}
    <!-- CSS de DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- JS de jQuery y DataTables -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}

<!-- card principal -->
{% set titulo = "Gestión de Garantías" %}
{% set icono = "shield-check" %}

<!-- Tabs -->
{% set tabs_view = true %}
{% set tabs2 = true %}
{% set tab1_icono = "cash-coin" %}
{% set tab1_nombre = "Garantías Ventas" %}
{% set tab2_icono = "tools" %}
{% set tab2_nombre = "Garantías Servicios" %}

<!-- Buscador -->
{% set subtitulo2 = "Buscar Garantías Ventas" %}
{% set placeholder = "Buscar garantía venta..." %}

<!-- Segundo Buscador -->
{% set subtitulo4 = "Buscar Garantías Servicios" %}
{% set placeholder3 = "Buscar garantía servicio..." %}

<!-- Boton Crear Registro -->
{% set btnRegistrar = false %}

<!-- Tabla -->
{% set subtitulo = "Lista Garantías de Ventas" %}
{% set tabla_id = "tablaVentas" %}

<!-- Segunda Tabla -->
{% set subtitulo3 = "Lista Garantías de Servicios" %}
{% set tabla_id2 = "tablaServicios" %}

{% block columnas_tabla %}
    <tr>
        <th>ID Garantía</th>
        <th>Cliente</th>
        <th>Producto</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Finalización</th>
        <th>Descripción</th>
    </tr>
{% endblock %}

{% block columnas_tabla2 %}
    <tr>
        <th>ID Garantía</th>
        <th>Cliente</th>
        <th>Equipo</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Finalización</th>
        <th>Descripción</th>
    </tr>
{% endblock %}

{% block modales %}
    <!-- Modal Editar -->
    <div class="modal fade" id="modalEditar" aria-labelledby="modalEditarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarLabel">Actualizar Garantía </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <!-- Pasar el id del cliente mediante el link del form -->
                    <form id="formCliente" action="" method="post">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Equipo:</label>
                            <input type="text" class="form-control" value="" name="nombre_cliente" required
                                pattern="[A-Za-z\s]+" maxlength="50">
                        </div>
                        <div class="mb-3">
                            <label for="cedula" class="form-label">Fecha de Inicio:</label>
                            <input type="text" class="form-control" value="" name="cedula" required pattern="\d+"
                                maxlength="10">
                        </div>
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Descripción:</label>
                            <input type="text" class="form-control" name="direccion_cliente" value="" required>
                        </div>
                        
                        <button type="submit" class="btn btn-enviar w-100">Actualizar Garantía</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Eliminar -->
    <div class="modal fade" id="modalEliminar" aria-labelledby="modalEliminarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarLabel">Eliminar Garantía</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <p >¿Seguro que desea eliminar esta garantía?</p>
                    <input type="hidden" id="garantiaIdToDelete"/>
                    <!-- Span que muestra el nombre de la garantia -->
                    <span id="nombreGarantia" class="fw-bold d-block fs-4">Tarjeta Grafica</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
