:root {
    --color1: #ffffff; /* Fondo */
    --color2: #5e9188; /* Formulario */
    --color3: #3e5954; /* Acento oscuro */
    --color4: #253342; /* Nav */
    --color5: #232226; /* Texto contraste */
}

/* Fuentes personalizadas */
@font-face {
    font-family: "Titulo";
    src: url(/static/fuentes/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "TituloR";
    src: url(/static/fuentes/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "sub_titulo";
    src: url(/static/fuentes/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
}
@font-face {
    font-family: "sub_titulo2";
    src: url(/static/fuentes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
}
@font-face {
    font-family: "contenido";
    src: url(/static/fuentes/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
}
@font-face {
    font-family: "contenido2";
    src: url(/static/fuentes/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
}

/* Estilos generales */
span {
    font-family: "contenido";
}

h1, h2 {
    font-family: "Titulo";
}

a {
    font-family: "sub_titulo";
}

/*Cambiar el estilo al input cuando se le da click*/
.form-control:focus {
    border-color: var(--color2);
    box-shadow: 0 0 0 0.25rem rgba(94, 145, 136, 0.25);
}

/*Estilos Tablas*/
.table {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Sombra más fuerte */    
    border: 4px solid var(--color3); /* Bordes más marcados */
}

/* Estilos para celdas */
.table th, .table td {
    border: 2px solid var(--color3); /* Bordes más visibles */    
    text-align: center;
    font-size: 18px;
}

/* Botones */

.btn-crear {
    background-color: #007BFF; /* Azul */
    color: white;
}

.btn-editar {
    background-color: #FDD744; /* Amarillo */
    color: black;
}

.btn-eliminar {
    background-color: #DC3545; /* Rojo */
    color: white;
}

.btn.btn-enviar{
    background-color: var(--color2); /* Verde Claro */
    color: white;
}


.btn.btn-enviar:hover{
    background-color: var(--color3); /* Verde Oscuro */
    color: white;
}

.btn-outline-enviar {
    border-color: var(--color3);  /* Color del borde */
    color: var(--color3); /* Color del texto */
}

.btn.btn-outline-enviar:hover{
    background-color: var(--color2); /* Color de fondo */
    color: white; /* Color del texto */
}

/*Modales*/
.modal-header{
    background-color: var(--color2);
}

.modal-title{
    color: white;
}

/*  estilo para el modulo de ventas */

.bg-panel {
    background-color: #f0f4f3; /* Ajusta según contraste deseado */
  }
  
  .border-acento {
    border: 3px solid var(--color2);
  }
  
  .seccion-formulario {
    border: 2px solid var(--color2);
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--color1);
  }
  
  .thead-claro {
    background-color: var(--color2);
    color: white;
  }
  
  .resumen-panel {
    background-color: var(--color3);
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .section {
      margin-bottom: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    
    .bg-panel {
      background-color: #f4f9f8; /* Más contraste con el fondo blanco */
    }
    
    .resumen-panel {
      background-color: var(--color3); /* Contraste oscuro */
      color: white;
      padding: 1.5rem;
      border-radius: 10px;
      min-width: 300px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    .border-acento {
      border: 2px solid var(--color2);
    }