{% extends "plantilla.html" %}

<!-- etiqueta <head> -->
{% block head_scripts %}
    <!-- CSS de DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- JS de jQuery y DataTables -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}

<!-- card principal -->
{% set titulo = "Gestión de Usuarios" %}
{% set icono = "person-gear" %}
{% set tabs = false %}

<!-- Buscador -->
{% set subtitulo2 = "Buscar Usuarios" %}
{% set placeholder = "Buscar usuario..." %}

<!-- Boton Crear Registro -->
{% set icono_crear = "person-add" %}
{% set boton_crear = "Nuevo Usuario" %}
{% set modal_crear = "modalRegistro" %}

<!-- tabla -->
{% set subtitulo = "Lista de Usuarios" %}
{% set tabla_id = "tablaUsuarios" %}

{% block columnas_tabla %}
    <tr>
        <th>Nombre del usuario</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Rol</th>
        <th>Acción</th>
    </tr>
{% endblock %}

{% block modales %}
    <!-- Modal Registro -->
    <div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="modalRegistroLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRegistroLabel">Registrar Nuevo Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="/usuario/crear" method="post">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre del usuario:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre_usuario" required
                                pattern="[A-Za-z\s]+" maxlength="50">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo:</label>
                            <input type="email" class="form-control" id="email" name="correo" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono:</label>
                            <input type="telefono" class="form-control" id="telefono" name="telefono_usuario" required pattern="\d{10}" maxlength="10">
                        </div>
                        <div class="mb-3">
                            <label for="rol" class="form-label">Rol del usuario:</label>
                            <select name="rol" class="form-control" required>
                                <option value="" selected disabled>Seleccione un rol...</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Tecnico">Técnico</option>
                                <option value="Vendedor">Vendedor</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-enviar w-100">Registrar Usuario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Editar -->
    <div class="modal fade" id="modalEditar" aria-labelledby="modalEditarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarLabel">Actualizar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <!-- Pasar el id del cliente mediante el link del form -->
                    <form id="editUsuarioForm">
                        <input type="hidden" id="editUsuarioId" name="id_usuario">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre de usuario:</label>
                            <input type="text" class="form-control" id="editNombre" name="nombre_usuario" required
                                pattern="[A-Za-z\s]+" maxlength="50">
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo:</label>
                            <input type="email" class="form-control" id="editCorreo" name="correo" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Télefono:</label>
                            <input type="telefono" class="form-control" id="editTelefono" name="telefono_usuario" required pattern="\d{10}" maxlength="10">
                        </div>
                        <div class="mb-3">
                            <label for="rol" class="form-label">Rol del usuario:</label>
                            <select id="editRol" name="rol" class="form-control" required>
                                <!-- El contenido de aca viene desde el js de usuarios -->                               
                            </select>
                        </div>
                        <button type="submit" id="saveChanges" class="btn btn-enviar w-100">Actualizar Usuario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar -->
    <div class="modal fade" id="modalEliminar" aria-labelledby="modalEliminarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarLabel">Eliminar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <p>¿Seguro que desea eliminar al usuario?</p>
                    <input type="hidden" id="usuarioIdToDelete" />
                    <!-- Span que muestra el nombre del cliente -->
                    <span id="nombreUsuario" class="fw-bold d-block fs-4"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Primero importar el js con las funciones -->
    <script src="/static/js/funciones/alertas.js"></script>
    <script src="/static/js/funciones/dataTables.js"></script>
    <script src="/static/js/usuarios/datosTabla.js"></script>

    <script src="/static/js/funciones/setupDatos.js"></script>
    <script src="/static/js/funciones/crudFetch.js"></script>

    <script src="/static/js/usuarios/modulo_usuarios.js"></script>
{% endblock %}